<div class="auth-full-height d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="m-2">
              <div class="d-flex justify-content-center mt-3">
                <logo class="text-center" logoType="logo"></logo>
              </div>
              <div class="text-center mt-3">
                <h3 class="fw-bolder">Forgot password</h3>
                <p class="text-muted">You can reset your password here.</p>
              </div>
              <div class="alert alert-danger" *ngIf="showResult"></div>
              <form [formGroup]="formGroup" (validSubmit)="login()">
                <div class="form-group mb-3">
                  <label class="form-label">Email</label>
                  <input type="text" class="form-control no-validation-icon no-success-validation"
                    formControlName="email">
                  <a class="text-primary font" [routerLink]="['/login']">Remember password ?</a>
                </div>
                <button class="btn btn-primary w-100" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
