<dropdown
  [dropDirection]="dropDirection"
  dropdownClass="header-nav-item-select nav-notification"
>
  <button
    class="toggle-wrapper notification-trigger"
    type="button"
    aria-haspopup="true"
    [attr.aria-expanded]="navNotification.isOpen"
    [attr.aria-label]="'NOTIFICATION.LABELS.TITLE' | translate"
    (click)="navNotification.toggle($event)"
  >
    <div class="icon-badge-container">
      <i class="feather icon-bell"></i>
      <div *ngIf="newNotificationCount > 0" class="notification-badge"></div>
    </div>
  </button>
  <dropdown-menu #navNotification alignment="right">
    <div class="nav-notification-header">
      <h5 class="nav-notification-title">
        {{ "NOTIFICATION.LABELS.TITLE" | translate }}
      </h5>
      <button
        type="button"
        (click)="markAllAsReadNotification()"
        class="nav-notification-mark-read"
      >
        {{ "NOTIFICATION.BUTTONS.READ" | translate }}
      </button>
    </div>
    <perfect-scrollbar class="nav-notification-body">
      <div *ngIf="notifications.length === 0" class="nav-notification-empty">
        {{ "NOTIFICATION.LABELS.EMPTY" | translate }}
      </div>
      <div
        class="nav-notification-item"
        [class.is-unread]="!notification.isRead"
        *ngFor="let notification of notifications"
      >
        <div class="nav-notification-item-content">
          <!-- Top section: Badge and Time -->
          <div class="nav-notification-meta">
            <div class="nav-notification-badges">
              <span *ngIf="notification.type === NotificationType.Reminder" class="notification-type-badge reminder">
                {{ "NOTIFICATION.LABELS.REMINDER" | translate }}
              </span>
              <span *ngIf="notification.type === NotificationType.Message" class="notification-type-badge message">
                {{ "NOTIFICATION.LABELS.CHAT" | translate }}
              </span>
              <span *ngIf="isNewNotification(notification)" class="nav-notification-status-badge">
                {{ "NOTIFICATION.LABELS.NEW" | translate }}
              </span>
            </div>
            <div class="nav-notification-time">
              <i class="feather icon-clock"></i>
              <span>{{
                notification.createdDate | amLocale: momentLang | amTimeAgo: true
              }}</span>
            </div>
          </div>

          <!-- Bottom section: Message/Text -->
          <div class="nav-notification-text">
            <ng-container *ngIf="!notification.message">
              <span class="document-name">{{ notification.documentName }}</span>:
              <span class="notification-desc">{{ "NOTIFICATION.LABELS.DOC_PERMISSION_GARANTED" | translate }}</span>
            </ng-container>

            <a
              *ngIf="notification.message"
              [routerLink]="notification.type === NotificationType.Reminder ? ['/apps/calendar'] : ['/apps/chat']"
              class="nav-notification-link"
            >
              <ng-container *ngIf="notification.type === NotificationType.Reminder">
                {{ notification.message }}
              </ng-container>
              <ng-container *ngIf="notification.type !== NotificationType.Reminder">
                <ng-container *ngIf="notification.documentId">
                  <b>{{ "NOTIFICATION.LABELS.DOCUMENT_NAME" | translate }}</b>: {{ notification.documentName }} {{ "NOTIFICATION.LABELS.SEPARATOR" | translate }}
                </ng-container>
                <span class="user-name">
                  {{ notification.user?.firstName }} {{ notification.user?.lastName }}
                </span>
                {{ "NOTIFICATION.LABELS.FROM_USER" | translate }}
                <span class="action-text">{{ "NOTIFICATION.LABELS.SEND_MESSAGE" | translate }}</span>
                <div class="message-preview">{{ notification.message }}</div>
              </ng-container>
            </a>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </dropdown-menu>
</dropdown>
