<dropdown
  [dropDirection]="dropDirection"
  dropdownClass="header-nav-item-select nav-notification"
>
  <button
    class="toggle-wrapper notification-trigger"
    type="button"
    aria-haspopup="true"
    [attr.aria-expanded]="navNotification.isOpen"
    [attr.aria-label]="'NOTIFICATION.LABELS.TITLE' | translate"
    (click)="navNotification.toggle($event)"
  >
    <div class="icon-badge-container">
      <i class="feather icon-bell"></i>
      <div *ngIf="newNotificationCount > 0" class="notification-badge"></div>
    </div>
  </button>
  <dropdown-menu #navNotification alignment="right">
    <div class="nav-notification-header">
      <h5 class="nav-notification-title">
        {{ "NOTIFICATION.LABELS.TITLE" | translate }}
      </h5>
      <button
        type="button"
        (click)="markAllAsReadNotification()"
        class="nav-notification-mark-read"
      >
        {{ "NOTIFICATION.BUTTONS.READ" | translate }}
      </button>
    </div>
    <perfect-scrollbar class="nav-notification-body">
      <div *ngIf="notifications.length === 0" class="nav-notification-empty">
        {{ "NOTIFICATION.LABELS.EMPTY" | translate }}
      </div>
      <div
        class="nav-notification-item"
        [class.is-unread]="!notification.isRead"
        *ngFor="let notification of notifications"
      >
        <div class="nav-notification-item-content">
          <div class="nav-notification-item-text">
            <span *ngIf="!notification.isRead" class="nav-notification-badge">
              {{ "NOTIFICATION.LABELS.NEW" | translate }}
            </span>
            <ng-container *ngIf="!notification.message">
              <b>{{ notification.documentName }}</b
              >:
              {{ "NOTIFICATION.LABELS.DOC_PERMISSION_GARANTED" | translate }}
            </ng-container>

            <a
              *ngIf="notification.message"
              [routerLink]="['/apps/chat']"
              class="nav-notification-link"
            >
              <ng-container *ngIf="notification.type != NotificationType.Message">
                <b>{{ "NOTIFICATION.LABELS.REMINDER" | translate }}</b> ::
              </ng-container>
              <ng-container *ngIf="notification.type == NotificationType.Message">
                <b>{{ "NOTIFICATION.LABELS.CHAT" | translate }}</b> ::
              </ng-container>
              <ng-container *ngIf="notification.documentId">
                <b>{{ "NOTIFICATION.LABELS.DOCUMENT_NAME" | translate }}</b
                >: {{ notification.documentName }} ::
              </ng-container>
              {{ notification.user?.firstName }}
              {{ notification.user?.lastName }}
              {{ "NOTIFICATION.LABELS.SEND_MESSAGE" | translate }} <br />
              <span class="nav-notification-link-msg">{{
                notification.message
              }}</span>
            </a>
          </div>
          <div class="nav-notification-item-time">
            <i class="feather icon-clock"></i>
            <span>{{
              notification.createdDate | amLocale: momentLang | amTimeAgo: true
            }}</span>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </dropdown-menu>
</dropdown>
