.forum-preview {
  .preview-wrapper {
    padding: 0 1.5rem;
    .card {
      .card-footer {
        .footer-actions {
          .actions-list {
            list-style: none;
            display: flex;
            gap:10px;
            .action-item {
              cursor: pointer;
              background: #f3f3f3;
              display: flex;
              padding: 0 0.5rem;
              border-radius: 5px;
              gap: 10px;
              align-items: center;
              font-size: 1rem;
            }
          }
        }
        .footer-comment {
          .comments {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .media {
              padding: 0 2rem;
              border-bottom: 1px solid #edf4f9;
              display: flex;
              align-items: start;

              .media-left {

                .media-object {
                  width: 40px;
                  height: 40px;
                  border-radius: 40px;
                  overflow: hidden;
                  object-fit: cover;
                }
              }
              .media-body {
                margin-left: 10px;
                .media-heading {
                  h5 {margin: 0;}
                  .time {font-size: 12px; color: #c3c3c3}
                  display: flex;
                  gap: 5px;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
