.blog-preview {
  .preview-wrapper {
    padding: 0 1.5rem;

    .card {
      .card-body {
        .img {
          margin-bottom: 1rem;
          border-radius: 5px;
          overflow: hidden;
          width: 100%;
          max-height: 70vh;
          object-fit: cover;
        }

        .content {
          .ql-align-center img {
            display: block;
            margin: 0 auto;
          }

          .ql-align-right img {
            display: block;
            margin-left: auto;
          }

          .ql-align-left img {
            display: block;
            margin-right: auto;
          }
        }
      }

      .card-footer {
        border-top: 1px solid #edf4f9;

        .footer-actions {
          .actions-list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            gap: 10px;

            .action-item {
              cursor: pointer;
              background: #f3f3f3;
              display: flex;
              padding: 0 0.5rem;
              border-radius: 5px;
              gap: 10px;
              align-items: center;
              font-size: 1rem;
            }
          }
        }

        .footer-comment {
          .comments {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .media {
              padding: 0 2rem;
              border-bottom: 1px solid #edf4f9;
              display: flex;
              align-items: start;

              .media-left {

                .media-object {
                  width: 40px;
                  height: 40px;
                  border-radius: 40px;
                  overflow: hidden;
                  object-fit: cover;
                }
              }
              .media-body {
                margin-left: 10px;
                .media-heading {
                  h5 {margin: 0;}
                  .time {font-size: 12px; color: #c3c3c3}
                  display: flex;
                  gap: 5px;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }
}


