<div>
    <h4>{{ "NOTIFICATION.SETTINGS.TITLE" | translate }}</h4>
    <p>{{ "NOTIFICATION.SETTINGS.DESCRIPTION" | translate }}</p>
</div>
<div class="mt-4">
    <div class="mb-4" *ngFor="let obj of notificationModel | keyvalue">
        <h5 class="mb-3">{{obj.key | translate}}</h5>
        <ng-container *ngFor="let item of obj.value; let last = last">
            <ng-template #action>
                <switch name="switch" [(ngModel)]="item.value"></switch>
            </ng-template>
            <row-content
                [title]="item.title"
                [description]="item.description"
                [icon]="item.icon"
                [border]="!last"
                [handler]="action"
            >
            </row-content>
        </ng-container>
    </div>
</div>
