<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <logo></logo>
                <div>
                    <h5 class="fw-bold mb-0">Invoice Number</h5>
                    <span>#17381</span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mb-3">
                    <span>Issue Date</span>
                    <div class="mt-1 text-dark fw-bold">31/10/2020</div>
                </div>
                <div class="col-md-6 mb-3">
                    <span>Due Date</span>
                    <div class="mt-1 text-dark fw-bold">7/11/2020</div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mb-3">
                    <span>For:</span>
                    <h5 class="fw-bold mt-2">Genting Holdings.</h5>
                    <address>
                        <p>
                            <span>8626 Maiden Dr. </span>
                            <br>
                            <span>Niagara Falls, New York 14304</span>
                        </p>
                    </address>
                </div>
                <div class="col-md-6 mb-3">
                    <span>From:</span>
                    <h5 class="fw-bold mt-2">Espire, Inc.</h5>
                    <address>
                        <p>
                            <span>9498 Harvard Street</span>
                            <br>
                            <span>Fairfield, Chicago Town 06824</span>
                            <br>
                            <abbr class="text-dark" title="Phone">Phone:</abbr>
                            <span>(123) 456-7890</span>
                        </p>
                    </address>
                </div>
            </div>
            <div class="mt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Samsung Galaxy S20+</td>
                            <td>2</td>
                            <td>$899.00</td>
                            <td>$1,798.00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>SonicGear Evo 9 BTMI Speaker</td>
                            <td>1</td>
                            <td>$199.00</td>
                            <td>$199.00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Sharp Aquos 40-Inch Easy Smart LED TV</td>
                            <td>1</td>
                            <td>$977.00</td>
                            <td>$977.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end mt-5">
                <div class="text-end ">
                    <div class="border-bottom">
                        <p class="mb-2"><span>Sub - Total amount: </span><span>$2,075.00</span></p>
                        <p>vat (10%) : 207.50</p>
                    </div>
                    <h5 class="fw-bold mt-3">
                        <span class="ms-1">Grand Total: </span>
                        <span>$1,867.50</span>
                    </h5>
                </div>
            </div>
            <p class="mt-5 text-muted mb-0">
                <small>In exceptional circumstances, Financial Services can provide an urgent manually processed special
                    cheque. Note, however, that urgent special cheques should be requested only on an emergency basis as manually
                    produced cheques involve duplication of effort and considerable staff resources. Requests need to be supported
                    by a letter explaining the circumstances to justify the special cheque payment
                </small>
            </p>
            <div class="border-top my-3"></div>
            <div class="text-end">
                <button class="btn btn-primary">Print</button>
            </div>
        </div>
    </div>
</div>
