<demo-section [name]="name" [src]="src" [componentContent]="componentContent">
    <p>ngx-datatable is an Angular component for presenting large and complex data. It has all the features you would expect from any other table but in a light package with <em>no external dependencies</em>. The table was designed to be extremely flexible and light; it doesn't make any assumptions about your data or how you: filter, sort or page it. More code example can be found <strong><a href="https://github.com/swimlane/ngx-datatable/tree/master/src/app" target="_blank">here</a></strong>.</p>
    <docs-section [content]="componentContent"></docs-section>
</demo-section>
  