<form
  [formGroup]="formGroup"
  (ngSubmit)="login()"
  novalidate
  class="login-form-modern"
>
  <div class="form-group">
    <label class="form-label" for="login-username">{{
      "SIGN.IN.USERNAME" | translate
    }}</label>
    <input
      type="text"
      class="form-input"
      formControlName="username"
      id="login-username"
      placeholder="m@example.com"
      [ngClass]="{
        'is-invalid': submitted && formGroup.get('username')?.invalid
      }"
    />
    <div
      *ngIf="submitted && formGroup.get('username')?.invalid"
      class="form-error"
    >
      <div *ngIf="formGroup.get('username')?.errors?.['required']">
        {{ "SIGN.IN.USERNAME_ERROR" | translate }}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label-row">
      <label class="form-label" for="login-password">{{
        "SIGN.IN.PASSWORD" | translate
      }}</label>
      <a class="forgot-link" routerLink="/forgot">{{
        "SIGN.IN.FORGET" | translate
      }}</a>
    </div>
    <div class="password-wrapper">
      <input
        [type]="showPassword ? 'text' : 'password'"
        class="form-input"
        formControlName="password"
        id="login-password"
        [ngClass]="{
          'is-invalid': submitted && formGroup.get('password')?.invalid
        }"
      />
      <button
        type="button"
        class="password-toggle"
        (click)="onShowPasswordClick()"
        [attr.aria-label]="
          (showPassword ? 'SIGN.IN.HIDE_PASSWORD' : 'SIGN.IN.SHOW_PASSWORD')
            | translate
        "
      >
        <i
          class="feather"
          [ngClass]="showPassword ? 'icon-eye-off' : 'icon-eye'"
        ></i>
      </button>
    </div>
    <div
      *ngIf="submitted && formGroup.get('password')?.invalid"
      class="form-error"
    >
      <div *ngIf="formGroup.get('password')?.errors?.['required']">
        {{ "SIGN.IN.PASSWORD_ERROR" | translate }}
      </div>
    </div>
  </div>

  <button class="submit-btn" type="submit" [disabled]="isLoading">
    <span *ngIf="!isLoading">{{ "SIGN.IN.BUTTON" | translate }}</span>
    <span *ngIf="isLoading" class="loading-content">
      <i class="feather icon-loader spin"></i>
      {{ "SIGN.IN.BUTTON" | translate }}
    </span>
  </button>
</form>

<div class="signup-prompt">
  <span>{{ "SIGN.IN.NO_ACCOUNT" | translate }}</span>
  <a routerLink="/register" class="signup-link">{{
    "SIGN.IN.SIGN_UP" | translate
  }}</a>
</div>
