<div class="list-page-container">
  <header class="list-page-header">
    <div class="list-header-left">
      <h1 class="list-page-title">
        {{ "ARTICLES.CATEGORIES.TITLE" | translate }}
      </h1>
      <p class="list-page-desc">
        {{ "ARTICLES.CATEGORIES.DESCRIPTION" | translate }}
      </p>
    </div>
    <button
      *hasClaim="'ARTICLE_ADD_CATEGORY'"
      (click)="manageCategory(null)"
      class="list-btn-add"
    >
      <span>{{ "CATEGORY.LIST.BUTTONS.ADD" | translate }}</span>
      <i class="feather icon-plus list-btn-add__icon"></i>
    </button>
  </header>

  <div class="list-table-wrapper">
    <ngx-datatable
      class="list-table"
      [messages]="{
        emptyMessage: 'TABLE_MESSAGE.EMPTY' | translate,
        selectedMessage: 'TABLE_MESSAGE.SELECTED' | translate,
        totalMessage: 'TABLE_MESSAGE.TOTAL' | translate
      }"
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="55"
      [footerHeight]="55"
      rowHeight="auto"
      [limit]="10"
      (activate)="onActivate($event)"
    >
      <ngx-datatable-column
        [name]="'CATEGORY.LIST.TABLE.NAME' | translate"
        prop="name"
        [flexGrow]="2"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="list-cell-title">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'CATEGORY.LIST.TABLE.DESCRIPTION' | translate"
        prop="description"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="list-cell-date">{{ value || "-" }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'CATEGORY.LIST.TABLE.CREATED' | translate"
        prop="createdAt"
        [width]="130"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="list-cell-date">{{
            value | utcToLocalTime: "shortDate"
          }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        *hasClaim="['ARTICLE_EDIT_CATEGORY', 'ARTICLE_DELETE_CATEGORY']"
        [name]="'CATEGORY.LIST.TABLE.ACTIONS' | translate"
        [sortable]="false"
        [width]="100"
        cellClass="list-actions-cell"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="list-actions">
            <button
              *hasClaim="'ARTICLE_EDIT_CATEGORY'"
              class="list-btn-action list-btn-action--edit"
              (click)="manageCategory(row)"
              [title]="'CATEGORY.LIST.BUTTONS.EDIT' | translate"
            >
              <i class="feather icon-edit-2"></i>
            </button>
            <button
              *hasClaim="'ARTICLE_DELETE_CATEGORY'"
              class="list-btn-action list-btn-action--delete"
              (click)="deleteCategory(row.id)"
              [title]="'CATEGORY.LIST.BUTTONS.DELETE' | translate"
            >
              <i class="feather icon-trash-2"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
