<!-- Survey List - Table Design (matches dashboard) -->
<div class="list-page-container">
  <!-- Header Section -->
  <div class="list-page-header">
    <div class="list-header-left">
      <h1 class="list-page-title">{{ "SURVEY.LIST.TITLE" | translate }}</h1>
      <p class="list-page-desc">{{ "SURVEY.LIST.DESCRIPTION" | translate }}</p>
    </div>
    <button routerLink="/apps/surveys/add" class="list-btn-add">
      <span>{{ "SURVEY.BUTTONS.ADD" | translate }}</span>
      <i class="feather icon-plus list-btn-add__icon"></i>
    </button>
  </div>

  <!-- Filters Section -->
  <div class="list-filters">
    <div class="list-search-wrapper">
      <i class="feather icon-search list-search-icon"></i>
      <input
        type="text"
        class="list-search-input"
        (input)="onNameChange($event)"
        [placeholder]="'SURVEY.TABLE.SEARCH_BY_TITLE' | translate"
        [attr.aria-label]="'SURVEY.TABLE.SEARCH_BY_TITLE' | translate"
      />
    </div>
    <div class="list-date-wrapper">
      <i class="feather icon-calendar list-date-icon"></i>
      <input
        type="text"
        class="list-date-input"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }"
        (bsValueChange)="onDateChange($event)"
        [placeholder]="'SURVEY.TABLE.SEARCH_BY_DATE' | translate"
      />
    </div>
  </div>

  <!-- Table Section -->
  <div class="list-table-wrapper">
    <ngx-datatable
      class="list-table"
      [messages]="{
        emptyMessage: 'TABLE_MESSAGE.EMPTY' | translate,
        selectedMessage: 'TABLE_MESSAGE.SELECTED' | translate,
        totalMessage: 'TABLE_MESSAGE.TOTAL' | translate
      }"
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="55"
      [footerHeight]="55"
      rowHeight="auto"
    >
      <!-- Title Column -->
      <ngx-datatable-column
        [name]="'SURVEY.TABLE.TITLE' | translate"
        prop="title"
        [flexGrow]="2"
      >
        <ng-template
          let-row="row"
          ngx-datatable-cell-template
          let-value="value"
        >
          <span class="list-cell-title">
            {{ value }}
          </span>
        </ng-template>
      </ngx-datatable-column>

      <!-- Type Column -->
      <ngx-datatable-column
        [name]="'SURVEY.TABLE.TYPE' | translate"
        prop="type"
        [width]="150"
      >
        <ng-template
          let-row="row"
          ngx-datatable-cell-template
          let-value="value"
        >
          <span
            class="list-cell-badge"
            [ngClass]="{
              'list-cell-badge--blue': value === 'simple',
              'list-cell-badge--green': value === 'rating',
              'list-cell-badge--yellow': value === 'satisfaction'
            }"
          >
            {{ "SURVEY.TYPE." + (value | uppercase) | translate }}
          </span>
        </ng-template>
      </ngx-datatable-column>

      <!-- Privacy Column -->
      <ngx-datatable-column
        [name]="'SURVEY.TABLE.PRIVACY' | translate"
        prop="privacy"
        [width]="150"
      >
        <ng-template
          let-row="row"
          ngx-datatable-cell-template
          let-value="value"
        >
          <span
            class="list-cell-badge"
            [ngClass]="{
              'list-cell-badge--green': value === 'public',
              'list-cell-badge--yellow': value === 'private'
            }"
          >
            {{ "SURVEY.PRIVACY." + (value | uppercase) | translate }}
          </span>
        </ng-template>
      </ngx-datatable-column>

      <!-- Creator Column -->
      <ngx-datatable-column
        [name]="'SURVEY.TABLE.CREATOR' | translate"
        prop="creator"
        [width]="200"
      >
        <ng-template
          ngx-datatable-cell-template
          let-row="row"
          let-value="value"
        >
          <ng-container *ngIf="value">
            <ng-container
              *ngIf="value.firstName || value.lastName; else fallbackName"
            >
              <span class="list-cell-creator">{{
                formatCreatorName(value)
              }}</span>
            </ng-container>
            <ng-template #fallbackName>
              <span
                *ngIf="value.fullName; else emptyCreator"
                class="list-cell-creator"
                >{{ formatCreatorName(value) }}</span
              >
            </ng-template>
            <ng-template #emptyCreator>
              <span class="list-cell-creator-empty">-</span>
            </ng-template>
          </ng-container>
          <span *ngIf="!value" class="list-cell-creator-empty">-</span>
        </ng-template>
      </ngx-datatable-column>

      <!-- Created Column -->
      <ngx-datatable-column
        [name]="'SURVEY.TABLE.CREATED' | translate"
        prop="createdAt"
        [width]="140"
      >
        <ng-template
          ngx-datatable-cell-template
          let-row="row"
          let-value="value"
        >
          <span class="list-cell-date">{{
            value | utcToLocalTime: "shortDate"
          }}</span>
        </ng-template>
      </ngx-datatable-column>

      <!-- Actions Column -->
      <ngx-datatable-column
        *ngIf="canPerformAnyAction || canViewStats"
        [name]="'SURVEY.TABLE.ACTIONS' | translate"
        [sortable]="false"
        [width]="150"
        cellClass="list-actions-cell"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="list-actions">
            <a
              *ngIf="canViewStats"
              class="list-btn-action list-btn-action--view"
              [routerLink]="['/apps/surveys', row.id]"
              [title]="'SURVEY.BUTTONS.STATS' | translate"
              [attr.aria-label]="'SURVEY.BUTTONS.STATS' | translate"
            >
              <i class="feather icon-eye"></i>
            </a>
            <a
              *ngIf="canEdit"
              class="list-btn-action list-btn-action--edit"
              [routerLink]="'/apps/surveys/edit/' + row.id"
              [title]="'SURVEY.BUTTONS.EDIT' | translate"
              [attr.aria-label]="'SURVEY.BUTTONS.EDIT' | translate"
            >
              <i class="feather icon-edit-2"></i>
            </a>
            <button
              *ngIf="canDelete"
              class="list-btn-action list-btn-action--delete"
              (click)="deleteSurvey(row)"
              [title]="'SURVEY.BUTTONS.DELETE' | translate"
              [attr.aria-label]="'SURVEY.BUTTONS.DELETE' | translate"
            >
              <i class="feather icon-trash-2"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
