@import "../../../../assets/scss/variables";
:host ::ng-deep #aligner {
  display: none !important;
  visibility: hidden !important;
}

.file-preview-toolbar {
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  color: $text-on-primary;
  height: 60px;
  padding: 0 15px;
  background: $background-primary;
  z-index: 10;
}

.back-arrow {
  color: $white;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.download-button {
  position: absolute;
  right: 30px;
}

.file-name {
  color: $white;
  margin-left: 10px;
}
