<dropdown
  *ngIf="user"
  dropdownClass="header-nav-item-select nav-profile"
  (click)="navProfile.toggle($event)"
>
  <div class="toggle-wrapper">
    <avatar
      [size]="35"
      [src]="userImg ? userImg : '/assets/images/avatars/thumb-16.jpg'"
    ></avatar>
    <span class="user-name mx-2">{{ user.firstName }} {{ user.lastName }}</span>
    <i class="feather icon-chevron-down opacity-50"></i>
  </div>
  <dropdown-menu #navProfile alignment="right">
    <div class="nav-profile-header">
      <div class="d-flex align-items-center gap-3">
        <avatar
          [size]="45"
          [src]="userImg ? userImg : '/assets/images/avatars/thumb-16.jpg'"
        ></avatar>
        <div class="d-flex flex-column">
          <span class="fw-bold text-dark font-size-base line-height-1 mb-1"
            >{{ user.firstName }} {{ user.lastName }}</span
          >
          <span class="font-size-sm text-muted">{{ user.email }}</span>
        </div>
      </div>
    </div>

    <div class="dropdown-items-container">
      <ng-container *ngFor="let menuItem of profileMenuList">
        <a
          (click)="menuItem.click ? menuItem.click() : null"
          *hasClaim="menuItem.claims"
          [routerLink]="menuItem.path"
          dropdownItem
        >
          <i [ngClass]="menuItem.icon"></i>
          <span>{{ menuItem.item | translate }}</span>
        </a>
      </ng-container>

      <a class="cursor-pointer" (click)="logout()" dropdownItem>
        <i class="feather icon-power"></i>
        <span>{{ "DROPDOWN_PROFILE.LOGOUT" | translate }}</span>
      </a>
    </div>
  </dropdown-menu>
</dropdown>
