<dropdown *ngIf="user" dropdownClass="header-nav-item-select nav-profile">
  <button
    class="nav-profile-toggle"
    type="button"
    aria-haspopup="true"
    [attr.aria-expanded]="navProfile.isOpen"
    (click)="navProfile.toggle($event)"
  >
    <avatar
      [size]="32"
      [src]="userImg ? userImg : '/assets/images/avatars/thumb-16.jpg'"
    ></avatar>
    <span class="nav-profile-toggle-name">{{ user.firstName }} {{ user.lastName }}</span>
    <i class="feather icon-chevron-down nav-profile-toggle-chevron" aria-hidden="true"></i>
  </button>

  <dropdown-menu #navProfile alignment="right">
    <div class="nav-profile-header">
      <avatar
        [size]="44"
        [src]="userImg ? userImg : '/assets/images/avatars/thumb-16.jpg'"
      ></avatar>
      <div class="nav-profile-header-text">
        <span class="nav-profile-header-name">{{ user.firstName }} {{ user.lastName }}</span>
        <span class="nav-profile-header-email">{{ user.email }}</span>
      </div>
    </div>

    <div class="nav-profile-body">
      <ng-container *ngFor="let menuItem of profileMenuList">
        <ng-container *ngIf="!menuItem.claims || menuItem.claims.length === 0; else withClaims">
          <a
            *ngIf="menuItem.path"
            [routerLink]="menuItem.path"
            (click)="menuItem.click ? menuItem.click() : null"
            dropdownItem
            class="nav-profile-item"
          >
            <span class="nav-profile-item-icon"><i [ngClass]="menuItem.icon" aria-hidden="true"></i></span>
            <span class="nav-profile-item-label">{{ menuItem.item | translate }}</span>
          </a>
          <button
            *ngIf="!menuItem.path && menuItem.click"
            type="button"
            (click)="menuItem.click()"
            dropdownItem
            class="nav-profile-item"
          >
            <span class="nav-profile-item-icon"><i [ngClass]="menuItem.icon" aria-hidden="true"></i></span>
            <span class="nav-profile-item-label">{{ menuItem.item | translate }}</span>
          </button>
        </ng-container>
        <ng-template #withClaims>
          <ng-container *hasClaim="menuItem.claims">
            <a
              *ngIf="menuItem.path"
              [routerLink]="menuItem.path"
              (click)="menuItem.click ? menuItem.click() : null"
              dropdownItem
              class="nav-profile-item"
            >
              <span class="nav-profile-item-icon"><i [ngClass]="menuItem.icon" aria-hidden="true"></i></span>
              <span class="nav-profile-item-label">{{ menuItem.item | translate }}</span>
            </a>
            <button
              *ngIf="!menuItem.path && menuItem.click"
              type="button"
              (click)="menuItem.click()"
              dropdownItem
              class="nav-profile-item"
            >
              <span class="nav-profile-item-icon"><i [ngClass]="menuItem.icon" aria-hidden="true"></i></span>
              <span class="nav-profile-item-label">{{ menuItem.item | translate }}</span>
            </button>
          </ng-container>
        </ng-template>
      </ng-container>
    </div>

    <div class="nav-profile-footer">
      <button
        type="button"
        class="nav-profile-logout"
        (click)="logout()"
        dropdownItem
      >
        <span class="nav-profile-item-icon"><i class="feather icon-log-out" aria-hidden="true"></i></span>
        <span class="nav-profile-item-label">{{ "DROPDOWN_PROFILE.LOGOUT" | translate }}</span>
      </button>
    </div>
  </dropdown-menu>
</dropdown>
