<demo-section [name]="name" [src]="src" [componentContent]="componentContent">
    <p>This component provides a Google Maps Angular component that implements the
        <a href="https://developers.google.com/maps/documentation/javascript/tutorial" rel="nofollow">Google Maps JavaScript API</a>.
        More component usage can be found <a href="https://github.com/angular/components/tree/master/src/google-maps" target="_blank">here</a>.</p>
    <docs-section [content]="componentContent"></docs-section>
</demo-section>
  