<div
  class="header-nav-wrap"
  [ngClass]="{ container: layoutType === 'horizontal' }"
>
  <ng-container
    *ngTemplateOutlet="layoutType === 'vertical' ? vertical : horizontal"
  ></ng-container>
</div>

<ng-template #vertical>
  <div class="header-nav-left">
    <div class="header-nav-item">
      <button
        type="button"
        class="sidenav-toggle-btn"
        [attr.aria-label]="'NAV.TOGGLE_NAVIGATION' | translate"
        (click)="isMobile ? toggleMobileNav() : toggleNavCollapse()"
      >
        <i
          class="feather nav-icon"
          [ngClass]="
            isMobile ? 'icon-menu' : collapse ? 'icon-menu' : 'icon-align-left'
          "
        ></i>
      </button>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="headerNavRight"></ng-container>
</ng-template>

<ng-template #horizontal>
  <div class="header-nav-left">
    <logo *ngIf="!isMobile" [white]="logoColor !== 'dark'"></logo>
    <div class="header-nav-item" *ngIf="isMobile">
      <button
        type="button"
        class="sidenav-toggle-btn"
        [attr.aria-label]="'NAV.TOGGLE_NAVIGATION' | translate"
        (click)="toggleMobileNav()"
      >
        <i class="feather nav-icon icon-menu"></i>
      </button>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="headerNavRight"></ng-container>
</ng-template>

<ng-template #headerNavRight>
  <nav-profile></nav-profile>
</ng-template>
