<div
  class="header-nav-wrap"
  [ngClass]="{ container: layoutType === 'horizontal' }"
>
  <ng-container
    *ngTemplateOutlet="layoutType === 'vertical' ? vertical : horizontal"
  ></ng-container>
</div>

<ng-template #vertical>
  <div class="header-nav-left">
    <button
      type="button"
      class="ged-nav-button header-nav-toggle"
      [attr.aria-label]="'NAV.TOGGLE_NAVIGATION' | translate"
      (click)="isMobile ? toggleMobileNav() : toggleNavCollapse()"
    >
      <span class="ged-nav-icon-shell">
        <i class="feather icon-menu" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="header-nav-right">
    <ng-container *ngTemplateOutlet="headerNavRight"></ng-container>
  </div>
</ng-template>

<ng-template #horizontal>
  <div class="header-nav-left">
    <logo *ngIf="!isMobile" [white]="logoColor !== 'dark'"></logo>
    <button
      *ngIf="isMobile"
      type="button"
      class="ged-nav-button header-nav-toggle"
      [attr.aria-label]="'NAV.TOGGLE_NAVIGATION' | translate"
      (click)="toggleMobileNav()"
    >
      <span class="ged-nav-icon-shell">
        <i class="feather icon-menu" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="header-nav-right">
    <ng-container *ngTemplateOutlet="headerNavRight"></ng-container>
  </div>
</ng-template>

<ng-template #headerNavRight>
  <div class="header-nav-right-items">
    <nav-i18n-header></nav-i18n-header>
    <nav-messages></nav-messages>
    <nav-notification dropDirection="dropdown"></nav-notification>
    <nav-profile></nav-profile>
  </div>
</ng-template>
