<div
  class="header-nav-wrap"
  [ngClass]="{ container: layoutType === 'horizontal' }"
>
  <ng-container
    *ngTemplateOutlet="layoutType === 'vertical' ? vertical : horizontal"
  ></ng-container>
</div>

<ng-template #vertical>
  <div class="header-nav-left"></div>
  <ng-container *ngTemplateOutlet="headerNavRight"></ng-container>
</ng-template>

<ng-template #horizontal>
  <div class="header-nav-left">
    <logo *ngIf="!isMobile" [white]="logoColor !== 'dark'"></logo>
  </div>
  <ng-container *ngTemplateOutlet="headerNavRight"></ng-container>
</ng-template>

<ng-template #headerNavRight>
  <nav-profile></nav-profile>
</ng-template>
