<div class="list-page-container">
  <header class="list-page-header">
    <div class="list-header-left">
      <h1 class="list-page-title">{{ "AUDIT.LIST.TITLE" | translate }}</h1>
      <p class="list-page-desc">{{ "AUDIT.LIST.DESCRIPTION" | translate }}</p>
    </div>
  </header>

  <div class="list-filters">
    <div class="list-search-wrapper">
      <i class="feather icon-search list-search-icon"></i>
      <input
        type="text"
        class="list-search-input"
        (input)="onNameChange($event)"
        [placeholder]="'AUDIT.LIST.LABELS.SEARCH' | translate"
        [attr.aria-label]="'AUDIT.LIST.LABELS.SEARCH' | translate"
      />
    </div>
    <div class="list-category-wrapper">
      <ng-select
        class="list-select"
        [multiple]="false"
        [placeholder]="'AUDIT.LIST.LABELS.CATEGORY' | translate"
        [attr.aria-label]="'AUDIT.LIST.LABELS.CATEGORY' | translate"
        (change)="onCategoryChange($event)"
      >
        <ng-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </ng-option>
      </ng-select>
    </div>
    <div class="list-category-wrapper">
      <ng-select
        class="list-select"
        [multiple]="false"
        [placeholder]="'AUDIT.LIST.LABELS.USER' | translate"
        [attr.aria-label]="'AUDIT.LIST.LABELS.USER' | translate"
        (change)="onUserChange($event)"
      >
        <ng-option *ngFor="let user of users" [value]="user.id">
          {{ user.firstName }} {{ user.lastName }}
        </ng-option>
      </ng-select>
    </div>
  </div>

  <div class="list-table-wrapper">
    <ngx-datatable
      class="list-table"
      [messages]="{
        emptyMessage: ('TABLE_MESSAGE.EMPTY' | translate),
        selectedMessage: ('TABLE_MESSAGE.SELECTED' | translate),
        totalMessage: ('TABLE_MESSAGE.TOTAL' | translate)
      }"
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="55"
      [footerHeight]="55"
      rowHeight="auto"
      [limit]="10"
      [externalPaging]="true"
      [count]="totalCount"
      (page)="onPage($event)"
    >
      <ngx-datatable-column
        [name]="'AUDIT.LIST.TABLE.DATE' | translate"
        prop="createdDate"
        [width]="140"
      >
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="list-cell-date">{{ value | utcToLocalTime: "shortDate" }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'AUDIT.LIST.TABLE.DOCUMENT_NAME' | translate"
        prop="documentName"
        [flexGrow]="2"
      >
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="list-cell-title">{{ value || "-" }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'AUDIT.LIST.TABLE.CATEGORY' | translate"
        prop="categoryName"
        [width]="140"
      >
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="list-cell-date">{{ value || "-" }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'AUDIT.LIST.TABLE.OPERATION' | translate"
        prop="operationName"
        [width]="140"
      >
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="list-cell-badge" [ngClass]="getBadgeClass(value)">
            {{ "AUDIT.LIST.OPERATION." + getOperationKey(value) | translate }}
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'AUDIT.LIST.TABLE.BY' | translate"
        prop="createdBy"
        [width]="180"
      >
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="list-cell-title-stack" *ngIf="value">
            <span class="list-cell-creator">{{ value }}</span>
            <span class="list-cell-title-stack__sub">{{ row.createdByEmail }}</span>
          </div>
          <span class="list-cell-empty" *ngIf="!value">-</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'AUDIT.LIST.TABLE.TO' | translate"
        prop="permissionUser"
        [width]="180"
      >
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="list-cell-title-stack" *ngIf="value">
            <span class="list-cell-creator">{{ value }}</span>
            <span class="list-cell-title-stack__sub">{{ row.permissionUserEmail || row.recipientEmail }}</span>
          </div>
          <span class="list-cell-empty" *ngIf="!value">-</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'AUDIT.LIST.TABLE.ROLE' | translate"
        prop="permissionRole"
        [width]="140"
      >
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="list-cell-date">{{ value || "-" }}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
