<div class="header">
  <div class="header-pill">
    <div class="header-left">
      <div class="logo-container" routerLink="/">
        <logo></logo>
      </div>
    </div>

    <!-- Desktop Navigation -->
    <nav class="desktop-nav">
      <a class="menu-item" routerLink="/">{{ "NAV.HOME" | translate }}</a>
      <a class="menu-item" routerLink="/forum">{{ "NAV.FORUM" | translate }}</a>
      <a class="menu-item" routerLink="/blog">{{ "NAV.BLOG" | translate }}</a>
      <a
        *ngIf="isAuthenticated$ | async"
        class="menu-item"
        routerLink="/dashboard"
        >{{ "NAV.DASHBOARD" | translate }}</a
      >
    </nav>

    <!-- Desktop CTA / Profile -->
    <div class="header-cta">
      <ng-container *ngIf="isAuthenticated$ | async; else notConnected">
        <nav-profile></nav-profile>
      </ng-container>
      <ng-template #notConnected>
        <a class="btn-get-started" routerLink="/login">
          {{ "NAV.CONNEXION" | translate }}
        </a>
      </ng-template>
    </div>

    <!-- Mobile Menu Button -->
    <button
      type="button"
      class="mobile-toggle"
      (click)="toggleMenu()"
      aria-label="Toggle menu"
    >
      <i class="feather icon-menu" style="font-size: 1.5rem"></i>
    </button>
  </div>
</div>

<!-- Mobile Menu Overlay -->
<div class="mobile-overlay" [class.is-open]="isMenuOpen">
  <button
    type="button"
    class="mobile-close"
    (click)="toggleMenu()"
    aria-label="Close menu"
  >
    <i class="feather icon-x" style="font-size: 1.5rem"></i>
  </button>

  <ul class="mobile-nav-list">
    <li>
      <a class="mobile-menu-item" routerLink="/" (click)="toggleMenu()">{{
        "NAV.HOME" | translate
      }}</a>
    </li>
    <li>
      <a class="mobile-menu-item" routerLink="/forum" (click)="toggleMenu()">{{
        "NAV.FORUM" | translate
      }}</a>
    </li>
    <li>
      <a class="mobile-menu-item" routerLink="/blog" (click)="toggleMenu()">{{
        "NAV.BLOG" | translate
      }}</a>
    </li>
    <li *ngIf="isAuthenticated$ | async">
      <a
        class="mobile-menu-item"
        routerLink="/dashboard"
        (click)="toggleMenu()"
        >{{ "NAV.DASHBOARD" | translate }}</a
      >
    </li>
  </ul>

  <div class="mobile-cta">
    <ng-container *ngIf="isAuthenticated$ | async; else notConnectedMobile">
      <nav-profile></nav-profile>
    </ng-container>
    <ng-template #notConnectedMobile>
      <a
        class="btn-get-started w-100"
        routerLink="/login"
        (click)="toggleMenu()"
      >
        {{ "NAV.CONNEXION" | translate }}
      </a>
      <a
        class="btn-outline-primary w-100 mt-2 d-block text-center py-2 rounded-pill register-cta"
        routerLink="/register"
        (click)="toggleMenu()"
      >
        {{ "NAV.INSCRIPTION" | translate }}
      </a>
    </ng-template>
  </div>
</div>
<div class="content">
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="floating-i18n-widget">
  <nav-i18n dropDirection="dropup"></nav-i18n>
</div>
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <!-- Column 1: About -->
      <div class="col-sm-12 col-md-4">
        <h6>{{ "FOOTER.ABOUT" | translate }}</h6>
        <span routerLink="/" style="cursor: pointer">
          <logo></logo>
        </span>
        <p class="mt-3">
          <b>{{ companyProfile?.title }}</b>
        </p>
        <p class="text-justify pt-2">
          {{ companyProfile?.description }}
        </p>
      </div>

      <!-- Column 2: Explore -->
      <div class="col-xs-6 col-md-2">
        <h6>{{ "FOOTER.EXPLORE" | translate }}</h6>
        <ul class="footer-links">
          <li>
            <a routerLink="/">{{ "NAV.HOME" | translate }}</a>
          </li>
          <li>
            <a routerLink="/apps/forum">{{ "NAV.APPS_FORUM" | translate }}</a>
          </li>
          <li>
            <a routerLink="/apps/blogs">{{ "NAV.APPS_BLOG" | translate }}</a>
          </li>
          <li>
            <a routerLink="/apps/news">{{ "NAV.APPS_ARTICLE" | translate }}</a>
          </li>
        </ul>
      </div>

      <!-- Column 3: Portal -->
      <div class="col-xs-6 col-md-3">
        <h6>{{ "FOOTER.PORTAL" | translate }}</h6>
        <ul class="footer-links">
          <ng-container
            *ngIf="isAuthenticated$ | async; else notConnectedPortal"
          >
            <li>
              <a routerLink="/dashboard">{{ "NAV.DASHBOARD" | translate }}</a>
            </li>
            <li>
              <a routerLink="/pages/profile">{{
                "NAV.PAGES_UTILITY_PROFILE" | translate
              }}</a>
            </li>
          </ng-container>
          <ng-template #notConnectedPortal>
            <li>
              <a routerLink="/login">{{ "NAV.CONNEXION" | translate }}</a>
            </li>
            <li>
              <a routerLink="/register">{{
                "NAV.PAGES_AUTH_REGISTER" | translate
              }}</a>
            </li>
          </ng-template>
        </ul>
      </div>

      <!-- Column 4: Contact -->
      <div class="col-xs-6 col-md-3">
        <h6>{{ "FOOTER.CONTACT" | translate }}</h6>
        <ul class="footer-links contact-info">
          <li>
            <i class="feather icon-map px-2"></i>
            72 rue de la République, 92000 Nanterre
          </li>
          <li>
            <i class="feather icon-phone px-2"></i>
            01 70 51 51 51
          </li>
          <li>
            <i class="feather icon-mail px-2"></i>
            contact@ged.com
          </li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          &copy; {{ currentYear }} ged, inc. Gestion documents éléctronique.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" [href]="'https://www.facebook.com/ged'"
              ><i class="feather icon-facebook"></i
            ></a>
          </li>
          <li>
            <a class="twitter" [href]="'https://twitter.com/ged'"
              ><i class="feather icon-twitter"></i
            ></a>
          </li>
          <li>
            <a class="linkedin" [href]="'https://www.linkedin.com/company/ged'"
              ><i class="feather icon-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
