/* Layout container and structure styles */
:host {
  display: block;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  min-height: calc(100vh - 80px);
  padding: 1.5rem 0;
}

.content-wrapper {
  margin-top: 6rem;
}