<div class="list-page-container" *hasClaim="'FORUM_VIEW_FORUMS'">
  <header class="list-page-header">
    <div class="list-header-left">
      <h1 class="list-page-title">{{ "FORUM.TITLE" | translate }}</h1>
      <p class="list-page-desc">{{ "FORUM.DESCRIPTION" | translate }}</p>
    </div>
    <button
      *hasClaim="'FORUM_ADD_TOPIC'"
      routerLink="/apps/forums/add"
      class="list-btn-add"
    >
      <span>{{ "FORUM.BUTTONS.ADD" | translate }}</span>
      <i class="feather icon-plus list-btn-add__icon"></i>
    </button>
  </header>

  <div class="list-filters">
    <div class="list-search-wrapper">
      <i class="feather icon-search list-search-icon"></i>
      <input
        type="text"
        class="list-search-input"
        (input)="onNameChange($event)"
        [placeholder]="'FORUM.TABLE.SEARCH_BY_NAME' | translate"
      />
    </div>
    <div class="list-category-wrapper">
      <ng-select
        class="list-select"
        [multiple]="false"
        [placeholder]="'FORUM.TABLE.SEARCH_BY_CATEGORY' | translate"
        (change)="onCategoryChange($event)"
      >
        <ng-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </ng-option>
      </ng-select>
    </div>
    <div class="list-date-wrapper">
      <i class="feather icon-calendar list-date-icon"></i>
      <input
        type="text"
        class="list-date-input"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
        (bsValueChange)="onDateChange($event)"
        [placeholder]="'FORUM.TABLE.SEARCH_BY_DATE' | translate"
      />
    </div>
  </div>

  <div class="list-table-wrapper">
    <ngx-datatable
      class="list-table"
      [messages]="{
        emptyMessage: 'TABLE_MESSAGE.EMPTY' | translate,
        selectedMessage: 'TABLE_MESSAGE.SELECTED' | translate,
        totalMessage: 'TABLE_MESSAGE.TOTAL' | translate
      }"
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="55"
      [footerHeight]="55"
      rowHeight="auto"
      [limit]="10"
      [loadingIndicator]="isLoadingResults"
      (activate)="onActivate($event)"
    >
      <ngx-datatable-column
        [name]="'FORUM.TABLE.TOPIC' | translate"
        prop="title"
        [flexGrow]="2"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="list-cell-title">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'FORUM.TABLE.CATEGORY' | translate"
        prop="category"
        [width]="140"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="list-cell-badge list-cell-badge--blue" *ngIf="value?.name">{{ value.name }}</span>
          <span class="list-cell-creator-empty" *ngIf="!value?.name">-</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'FORUM.TABLE.CREATOR' | translate"
        prop="creator"
        [width]="180"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <div class="list-cell-creator-icon">
            <span class="list-creator-icon-circle">
              <i class="feather icon-user"></i>
            </span>
            <span class="list-cell-creator">
              {{ value?.firstName || "" }} {{ value?.lastName || "" }}
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'FORUM.TABLE.CREATED' | translate"
        prop="createdAt"
        [width]="120"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="list-cell-date">{{ value | utcToLocalTime: "shortDate" }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'FORUM.TABLE.PRIVACY' | translate"
        prop="privacy"
        [width]="110"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span
            class="list-cell-badge"
            [ngClass]="{
              'list-cell-badge--green': value === 'public',
              'list-cell-badge--yellow': value === 'private'
            }"
          >
            {{ (value === "public" ? "FORUM.PRIVACY.PUBLIC" : "FORUM.PRIVACY.PRIVATE") | translate }}
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'FORUM.TABLE.REACTIONS' | translate"
        prop="reactionsCount"
        [width]="110"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="list-cell-stat list-cell-stat--red">
            <i class="feather icon-heart"></i>
            <span>{{ value ?? 0 }}</span>
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'FORUM.TABLE.REPLIES' | translate"
        prop="commentsCount"
        [width]="120"
      >
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span
            class="list-cell-stat list-cell-stat--blue"
            (click)="openCommentsModal(row)"
            [title]="'FORUM.MODAL.TITLE' | translate"
            [attr.aria-label]="'FORUM.MODAL.TITLE' | translate"
            role="button"
            tabindex="0"
            (keydown.enter)="openCommentsModal(row)"
            (keydown.space)="openCommentsModal(row)"
          >
            <i class="feather icon-message-circle"></i>
            <span>{{ value ?? 0 }}</span>
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        *hasClaim="['FORUM_EDIT_TOPIC', 'FORUM_DELETE_TOPIC']"
        [name]="'FORUM.TABLE.ACTIONS' | translate"
        [sortable]="false"
        [width]="160"
        cellClass="list-actions-cell"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="list-actions">
            <button
              class="list-btn-action list-btn-action--view"
              (click)="openCommentsModal(row)"
              [title]="'FORUM.MODAL.TITLE' | translate"
              [attr.aria-label]="'FORUM.MODAL.TITLE' | translate"
            >
              <i class="feather icon-eye"></i>
            </button>
            <a>
              *hasClaim="'FORUM_EDIT_TOPIC'"
              class="list-btn-action list-btn-action--edit"
              [routerLink]="'/apps/forums/edit/' + row.id"
              [title]="'FORUM.BUTTONS.EDIT' | translate"
              [attr.aria-label]="'FORUM.BUTTONS.EDIT' | translate"
            >
              <i class="feather icon-edit-2"></i>
            </a>
            <button>
              *hasClaim="'FORUM_DELETE_TOPIC'"
              class="list-btn-action list-btn-action--delete"
              (click)="deleteForum(row)"
              [title]="'FORUM.BUTTONS.DELETE' | translate"
              [attr.aria-label]="'FORUM.BUTTONS.DELETE' | translate"
            >
              <i class="feather icon-trash-2"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
