<div class="list-page-container">
  <header class="list-page-header">
    <div class="list-header-left">
      <h1 class="list-page-title">{{ "DOCUMENTS.LIST.TITLE" | translate }}</h1>
      <p class="list-page-desc">{{ "DOCUMENTS.LIST.DESCRIPTION" | translate }}</p>
    </div>
    <button
      type="button"
      *hasClaim="'ALL_DOCUMENTS_CREATE_DOCUMENT'"
      class="list-btn-add"
      routerLink="/document/add"
    >
      <span>{{ "DOCUMENTS.LIST.BUTTONS.ADD" | translate }}</span>
      <i class="feather icon-plus list-btn-add__icon"></i>
    </button>
  </header>

  <div class="list-filters">
    <div class="list-search-wrapper">
      <i class="feather icon-search list-search-icon"></i>
      <input
        type="text"
        class="list-search-input"
        (input)="onNameChange($event)"
        [placeholder]="'DOCUMENTS.LIST.LABELS.SEARCH' | translate"
        [attr.aria-label]="'DOCUMENTS.LIST.LABELS.SEARCH' | translate"
      />
    </div>
    <div class="list-category-wrapper">
      <ng-select
        class="list-select"
        [items]="categories"
        bindLabel="name"
        bindValue="id"
        [multiple]="false"
        [placeholder]="'DOCUMENTS.LIST.LABELS.CATEGORY' | translate"
        [attr.aria-label]="'DOCUMENTS.LIST.LABELS.CATEGORY' | translate"
        (change)="onCategoryChange($event)"
      >
      </ng-select>
    </div>
    <div class="list-date-wrapper">
      <i class="feather icon-calendar list-date-icon"></i>
      <input
        type="text"
        class="list-date-input"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
        [placeholder]="'DOCUMENTS.LIST.LABELS.DATE' | translate"
        [attr.aria-label]="'DOCUMENTS.LIST.LABELS.DATE' | translate"
        (bsValueChange)="onDateChange($event)"
      />
    </div>
  </div>

  <div class="list-table-wrapper">
    <ngx-datatable
      class="list-table"
      [messages]="{
        emptyMessage: 'TABLE_MESSAGE.EMPTY' | translate,
        selectedMessage: 'TABLE_MESSAGE.SELECTED' | translate,
        totalMessage: 'TABLE_MESSAGE.TOTAL' | translate
      }"
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="55"
      [footerHeight]="55"
      rowHeight="auto"
      [limit]="10"
      [loadingIndicator]="isLoadingResults"
      (activate)="onActivate($event)"
    >
      <ngx-datatable-column
        [name]="'DOCUMENTS.LIST.TABLE.NAME' | translate"
        prop="name"
        [flexGrow]="2"
      >
        <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
          <div class="list-cell-title-stack">
            <button type="button" class="list-doc-link" (click)="onDocumentView(row)">
              {{ value }}
            </button>
            <span class="list-cell-title-stack__sub">{{ row.categoryName }}</span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'DOCUMENTS.LIST.TABLE.CREATOR' | translate"
        prop="createdByName"
        [width]="180"
      >
        <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
          <div class="list-cell-creator-icon">
            <span class="list-creator-icon-circle">
              <i class="feather icon-user"></i>
            </span>
            <div class="list-cell-title-stack">
              <span class="list-cell-creator">{{ value }}</span>
              <span class="list-cell-title-stack__sub">{{ row.createdByEmail }}</span>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'DOCUMENTS.LIST.TABLE.CREATED' | translate"
        prop="createdDate"
        [width]="120"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="list-cell-date">{{ value | utcToLocalTime: "shortDate" }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'DOCUMENTS.LIST.TABLE.ACTIONS' | translate"
        [sortable]="false"
        [width]="280"
        cellClass="list-actions-cell"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="list-actions list-actions--multi">
            <button
              class="list-btn-action list-btn-action--view"
              (click)="onDocumentView(row)"
              [title]="'DOCUMENTS.LIST.BUTTONS.VIEW' | translate"
              [attr.aria-label]="'DOCUMENTS.LIST.BUTTONS.VIEW' | translate"
            >
              <i class="feather icon-eye"></i>
            </button>
            <button
              *hasClaim="'ALL_DOCUMENTS_EDIT_DOCUMENT'"
              class="list-btn-action list-btn-action--edit"
              (click)="editDocument(row)"
              [title]="'DOCUMENTS.LIST.BUTTONS.EDIT' | translate"
              [attr.aria-label]="'DOCUMENTS.LIST.BUTTONS.EDIT' | translate"
            >
              <i class="feather icon-edit-2"></i>
            </button>
            <button
              *hasClaim="'ALL_DOCUMENTS_DOWNLOAD_DOCUMENT'"
              class="list-btn-action list-btn-action--download"
              (click)="downloadDocument(row)"
              [title]="'DOCUMENTS.LIST.BUTTONS.DOWNLOAD' | translate"
              [attr.aria-label]="'DOCUMENTS.LIST.BUTTONS.DOWNLOAD' | translate"
            >
              <i class="feather icon-download-cloud"></i>
            </button>
            <button
              class="list-btn-action list-btn-action--upload"
              (click)="uploadNewVersion(row)"
              [title]="'DOCUMENTS.LIST.BUTTONS.UPLOAD' | translate"
              [attr.aria-label]="'DOCUMENTS.LIST.BUTTONS.UPLOAD' | translate"
            >
              <i class="feather icon-upload-cloud"></i>
            </button>
            <button
              class="list-btn-action list-btn-action--history"
              (click)="onVersionHistoryClick(row)"
              [title]="'DOCUMENTS.LIST.BUTTONS.HISTORY' | translate"
              [attr.aria-label]="'DOCUMENTS.LIST.BUTTONS.HISTORY' | translate"
            >
              <i class="feather icon-watch"></i>
            </button>
            <button
              class="list-btn-action list-btn-action--email"
              (click)="addComment(row)"
              [title]="'DOCUMENTS.LIST.BUTTONS.COMMENT' | translate"
              [attr.aria-label]="'DOCUMENTS.LIST.BUTTONS.COMMENT' | translate"
            >
              <i class="feather icon-message-square"></i>
            </button>
            <button
              class="list-btn-action list-btn-action--reminder"
              (click)="sendEmail(row)"
              [title]="'DOCUMENTS.LIST.BUTTONS.EMAIL' | translate"
              [attr.aria-label]="'DOCUMENTS.LIST.BUTTONS.EMAIL' | translate"
            >
              <i class="feather icon-mail"></i>
            </button>
            <button
              *hasClaim="'ALL_DOCUMENTS_DELETE_DOCUMENT'"
              class="list-btn-action list-btn-action--delete"
              (click)="deleteDocument(row)"
              [title]="'DOCUMENTS.LIST.BUTTONS.DELETE' | translate"
              [attr.aria-label]="'DOCUMENTS.LIST.BUTTONS.DELETE' | translate"
            >
              <i class="feather icon-trash-2"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
