<div class="list-page-container">
  <header class="list-page-header">
    <div class="list-header-left">
      <h1 class="list-page-title">{{ "BLOG.LIST.TITLE" | translate }}</h1>
      <p class="list-page-desc">{{ "BLOG.LIST.DESCRIPTION" | translate }}</p>
    </div>
    <button routerLink="/apps/blogs/add" class="list-btn-add">
      <span>{{ "BLOG.BUTTONS.ADD" | translate }}</span>
      <i class="feather icon-plus list-btn-add__icon"></i>
    </button>
  </header>

  <div class="list-filters">
    <div class="list-search-wrapper">
      <i class="feather icon-search list-search-icon"></i>
      <input
        type="text"
        class="list-search-input"
        (input)="onNameChange($event)"
        [placeholder]="'BLOG.TABLE.SEARCH_BY_NAME' | translate"
        [attr.aria-label]="'BLOG.TABLE.SEARCH_BY_NAME' | translate"
      />
    </div>
    <div class="list-category-wrapper">
      <ng-select
        class="list-select"
        [multiple]="false"
        [placeholder]="'BLOG.TABLE.SEARCH_BY_CATEGORY' | translate"
        [attr.aria-label]="'BLOG.TABLE.SEARCH_BY_CATEGORY' | translate"
        (change)="onCategoryChange($event)"
      >
        <ng-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </ng-option>
      </ng-select>
    </div>
    <div class="list-date-wrapper">
      <i class="feather icon-calendar list-date-icon"></i>
      <input
        type="text"
        class="list-date-input"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
        (bsValueChange)="onDateChange($event)"
        [placeholder]="'BLOG.TABLE.SEARCH_BY_DATE' | translate"
        [attr.aria-label]="'BLOG.TABLE.SEARCH_BY_DATE' | translate"
      />
    </div>
  </div>

   <div class="list-table-wrapper">
    <div *ngIf="loadError" class="list-empty">
      <div class="list-empty-icon"><i class="feather icon-alert-circle"></i></div>
      <div class="list-empty-text">{{ "BLOG.LIST.ERROR_LOADING" | translate }}</div>
      <button class="list-btn-add" (click)="getBlogs()" style="margin-top:1rem;">
        <i class="feather icon-refresh-cw list-btn-add__icon"></i>
        {{ "BLOG.BUTTONS.RETRY" | translate }}
      </button>
    </div>
    <ngx-datatable
      *ngIf="!loadError"
      class="list-table"
      [messages]="{
        emptyMessage: 'TABLE_MESSAGE.EMPTY' | translate,
        selectedMessage: 'TABLE_MESSAGE.SELECTED' | translate,
        totalMessage: 'TABLE_MESSAGE.TOTAL' | translate
      }"
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="55"
      [footerHeight]="55"
      rowHeight="auto"
      [limit]="10"
      [loadingIndicator]="isLoadingResults"
    >
      <ngx-datatable-column
        [name]="'BLOG.TABLE.PICTURE' | translate"
        prop="picture"
        [width]="80"
      >
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <div class="list-cell-thumb">
            <img
              [src]="value ? getHost() + value : '/assets/images/others/bg-4.jpg'"
              class="list-thumb-img"
              [alt]="row?.title ? row.title : ('BLOG.TABLE.PICTURE' | translate)"
            />
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'BLOG.TABLE.TITLE' | translate"
        prop="title"
        [flexGrow]="2"
      >
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <div class="list-cell-title-stack">
            <span class="list-cell-title-stack__title">{{ value }}</span>
            <span class="list-cell-title-stack__sub">{{ row.category?.name }}</span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'BLOG.TABLE.CREATOR' | translate"
        prop="creator"
        [width]="180"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <div class="list-cell-creator-icon">
            <span class="list-creator-icon-circle">
              <i class="feather icon-user"></i>
            </span>
            <span class="list-cell-creator">
              {{ (value?.firstName ? value.firstName + ' ' : '') + (value?.lastName || '') || value?.email || ("BLOG.TABLE.UNKNOWN_AUTHOR" | translate) }}
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'BLOG.TABLE.REPLIES' | translate"
        [width]="100"
        prop="commentsCount"
      >
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <button
            type="button"
            class="list-btn-action--comments"
            (click)="openCommentsModal(row)"
            [attr.aria-label]="('BLOG.TABLE.REPLIES' | translate) + ': ' + (value || 0)"
          >
            <i class="feather icon-message-circle"></i>
            <span>{{ value || 0 }}</span>
          </button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'BLOG.TABLE.CREATED' | translate"
        prop="createdAt"
        [width]="120"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="list-cell-date">{{ value | utcToLocalTime: "shortDate" }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'BLOG.TABLE.PRIVACY' | translate"
        prop="privacy"
        [width]="110"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span
            class="list-cell-badge"
            [ngClass]="{
              'list-cell-badge--green': value === 'public',
              'list-cell-badge--yellow': value === 'private'
            }"
          >
            {{ (value === "public" ? "BLOG.PRIVACY.PUBLIC" : "BLOG.PRIVACY.PRIVATE") | translate }}
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'BLOG.TABLE.ACTIONS' | translate"
        [sortable]="false"
        [width]="160"
        cellClass="list-actions-cell"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          <div class="list-actions">
            <a
              class="list-btn-action list-btn-action--view"
              [routerLink]="'/apps/blogs/view/' + row.id"
              [title]="'BLOG.BUTTONS.VIEW' | translate"
              [attr.aria-label]="'BLOG.BUTTONS.VIEW' | translate"
            >
              <i class="feather icon-eye"></i>
            </a>
            <a
              class="list-btn-action list-btn-action--edit"
              [routerLink]="'/apps/blogs/edit/' + row.id"
              [title]="'BLOG.BUTTONS.EDIT' | translate"
              [attr.aria-label]="'BLOG.BUTTONS.EDIT' | translate"
            >
              <i class="feather icon-edit-2"></i>
            </a>
            <button
              class="list-btn-action list-btn-action--delete"
              (click)="deleteBlog(row)"
              [title]="'BLOG.BUTTONS.DELETE' | translate"
              [attr.aria-label]="'BLOG.BUTTONS.DELETE' | translate"
            >
              <i class="feather icon-trash-2"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
