<div class="card mb-0">
  <div class="card-body">
    <div class="row mb-3 justify-content-end">
      <div class="col-auto">
        <button routerLink="/apps/blogs/add" class="btn btn-primary mb-3">
          <i class="feather icon-plus"></i>
          <span>{{"BLOG.BUTTONS.ADD" | translate}}</span>
        </button>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="input-affix">
          <i class="prefix-icon feather icon-search"></i>
          <input type="text" class="form-control"  (keyup)="onNameChange($event)" [placeholder]="'BLOG.TABLE.SEARCH_BY_NAME'| translate">
        </div>
      </div>
      <div class="col-md-4">
        <ng-select [multiple]="false" [placeholder]="'BLOG.TABLE.SEARCH_BY_CATEGORY' | translate" (change)="onCategoryChange($event)">
          <ng-option *ngFor="let category of categories" [value]="category.id">{{category.name}} </ng-option>
        </ng-select>
      </div>
      <div class="col-md-4">
        <div class="input-affix">
          <i class="prefix-icon feather icon-search"></i>
          <input type="text" class="form-control" bsDatepicker [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}"
            (bsValueChange)="onDateChange($event)" [placeholder]="'BLOG.TABLE.SEARCH_BY_DATE'| translate">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ngx-datatable [messages]="{emptyMessage:'TABLE_MESSAGE.EMPTY' | translate,selectedMessage:'TABLE_MESSAGE.SELECTED' | translate,totalMessage:'TABLE_MESSAGE.TOTAL' | translate}" [rows]="rows" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
          rowHeight="auto" [limit]="5" [selected]="selected" [selectionType]="SelectionType.checkbox"
          (activate)="onActivate($event)" (select)="onSelect($event)">
          <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false">
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
              let-selectFn="selectFn">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="allRowsSelected"
                  (change)="selectFn(!allRowsSelected)" />
              </div>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
              let-onCheckboxChangeFn="onCheckboxChangeFn">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="isSelected"
                  (change)="onCheckboxChangeFn($event)" />
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'BLOG.TABLE.PICTURE' | translate" prop="picture">
            <ng-template ngx-datatable-cell-template let-value="value" aria-hidden="false">
              <img style="width: 100px; height: 100px; object-fit: cover; border-radius: 10px;"
                [src]="value?getHost()+value:'/assets/images/others/bg-4.jpg'" alt="">
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'BLOG.TABLE.TITLE' | translate" prop="title">
            <ng-template ngx-datatable-cell-template let-value="value" aria-hidden="false">
              <div style="max-height: 95px; overflow: hidden;">{{value}}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'BLOG.TABLE.CATEGORY' | translate" prop="category">
            <ng-template ngx-datatable-cell-template let-value="value" aria-hidden="false">{{value.name}}</ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'BLOG.TABLE.CREATOR'| translate" prop="creator">
            <ng-template ngx-datatable-cell-template let-value="value" aria-hidden="false">{{value.firstName}}
              {{value.lastName}}</ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'BLOG.TABLE.CREATED'| translate" prop="createdAt">
            <ng-template ngx-datatable-cell-template let-value="value" aria-hidden="false">{{value |
              utcToLocalTime:'shortDate' }}</ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'BLOG.TABLE.PRIVACY' | translate" prop="privacy">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value" aria-hidden="false">
              <span *ngIf="value == 'public'">{{'BLOG.PRIVACY.PUBLIC' | translate}}</span>
              <span *ngIf="value == 'private'">{{'BLOG.PRIVACY.PRIVATE' | translate}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'BLOG.TABLE.BANNER' | translate" prop="banner">
            <ng-template ngx-datatable-cell-template let-value="value" aria-hidden="false">
              {{(value?'BLOG.BANNER.YES':'BLOG.BANNER.NO') | translate}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'BLOG.TABLE.ACTIONS' | translate" [sortable]="false" aria-hidden="false" cellClass="overflow-visible">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value" aria-hidden="false">
              <div class="btn-group" dropdown [insideClick]="true">
                <button dropdownToggle type="button" class="btn"> <i class="feather icon-more-horizontal"></i> </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <!-- <li role="menuitem"><a class="dropdown-item cursor-pointer" *hasClaim="'ARTICLE_VIEW_ARTICLES'"
                      (click)="viewArticle(row)">View</a></li> -->
                  <li role="menuitem"><a class="dropdown-item cursor-pointer"
                      [routerLink]="'/apps/blogs/edit/'+row.id">{{"BLOG.BUTTONS.EDIT" | translate}}</a></li>
                  <li role="menuitem"><a class="dropdown-item cursor-pointer"
                      (click)="deleteBlog(row)">{{"BLOG.BUTTONS.DELETE" | translate}}</a>
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
