<div class="card mb-0">
  <div class="card-body">
    <div *hasClaim="'USER_CREATE_USER'" class="row mb-3 justify-content-end">
      <div class="col-auto">
        <button routerLink="/user/user-add" class="btn btn-primary mb-3">
          <i class="feather icon-plus"></i>
          <span>{{'USERS.LIST.BUTTONS.ADD' | translate}}</span>
        </button>
      </div>
    </div>
    <!-- <div class="row align-items-center">
      <div class="col-md-3">
        <div class="input-affix">
          <i class="prefix-icon feather icon-search"></i>
          <input type="text" class="form-control" placeholder="Search by name">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-affix">
          <i class="prefix-icon feather icon-search"></i>
          <input type="text" class="form-control" placeholder="Search by tags">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-affix">
          <i class="prefix-icon feather icon-search"></i>
          <input type="text" class="form-control" placeholder="Search by category">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-affix">
          <i class="prefix-icon feather icon-search"></i>
          <input type="text" class="form-control" placeholder="Search by date">
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <ngx-datatable [messages]="{emptyMessage:'TABLE_MESSAGE.EMPTY' | translate,selectedMessage:'TABLE_MESSAGE.SELECTED' | translate,totalMessage:'TABLE_MESSAGE.TOTAL' | translate}" [rows]="rows" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
          rowHeight="auto" [limit]="5" [selected]="selected" [selectionType]="SelectionType.checkbox"
          (activate)="onActivate($event)" (select)="onSelect($event)">
          <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false">
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
              let-selectFn="selectFn">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="allRowsSelected"
                  (change)="selectFn(!allRowsSelected)" />
              </div>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
              let-onCheckboxChangeFn="onCheckboxChangeFn">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="isSelected"
                  (change)="onCheckboxChangeFn($event)" />
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'USERS.LIST.TABLE.EMAIL' | translate" prop="email"></ngx-datatable-column>
          <ngx-datatable-column [name]="'USERS.LIST.TABLE.FIRSTNAME' | translate" prop="firstName"></ngx-datatable-column>
          <ngx-datatable-column [name]="'USERS.LIST.TABLE.LASTNAME' | translate" prop="lastName"></ngx-datatable-column>
          <ngx-datatable-column [name]="'Matricule' | translate" prop="matricule"></ngx-datatable-column>
          <ngx-datatable-column [name]="'Direction' | translate" prop="direction"></ngx-datatable-column>
          <ngx-datatable-column [name]="'USERS.LIST.TABLE.ACTION' | translate" [sortable]="false" aria-hidden="false" cellClass="overflow-visible">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value" aria-hidden="false">
              <div class="btn-group" dropdown [insideClick]="true">
                <button dropdownToggle type="button" class="btn"> <i class="feather icon-more-horizontal"></i> </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu" >
                  <li role="menuitem"><a class="dropdown-item cursor-pointer" *hasClaim="'USER_EDIT_USER'" (click)="editUser(row.id)"><i class="feather icon-edit-2"></i> {{'USERS.LIST.BUTTONS.EDIT' | translate}}</a></li>
                  <li role="menuitem"><a class="dropdown-item cursor-pointer" *hasClaim="'USER_DELETE_USER'" (click)="deleteUser(row)"><i class="feather icon-trash-2"></i> {{'USERS.LIST.BUTTONS.DELETE' | translate}}</a>
                  <!-- <li role="menuitem"><a class="dropdown-item cursor-pointer" *hasClaim="'USER_ASSIGN_PERMISSION'" href="#"><i class="feather icon-shield"></i> Permission</a> -->
                  <li role="menuitem"><a class="dropdown-item cursor-pointer" *hasClaim="'USER_RESET_PASSWORD'" (click)="resetPassword(row)"><i class="feather icon-lock"></i> {{'USERS.LIST.BUTTONS.RESETPASSWORD' | translate}}</a>
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
