<div class="list-page-container">
  <header class="list-page-header">
    <div class="list-header-left">
      <h1 class="list-page-title">{{ "USERS.LIST.TITLE" | translate }}</h1>
      <p class="list-page-desc">{{ "USERS.LIST.DESCRIPTION" | translate }}</p>
    </div>
    <a
      *hasClaim="'USER_CREATE_USER'"
      routerLink="/user/user-add"
      class="list-btn-add"
    >
      <span>{{ "USERS.LIST.BUTTONS.ADD" | translate }}</span>
      <i class="feather icon-plus list-btn-add__icon"></i>
    </a>
  </header>

  <div class="list-filters">
    <div class="list-search-wrapper">
      <i class="feather icon-search list-search-icon"></i>
      <input
        type="text"
        class="list-search-input"
        (input)="onSearchChange($event)"
        [placeholder]="'USERS.LIST.LABELS.SEARCH' | translate"
        [attr.aria-label]="'USERS.LIST.LABELS.SEARCH' | translate"
      />
    </div>
  </div>

  <div class="list-table-wrapper">
    <ngx-datatable
      class="list-table"
      [messages]="{
        emptyMessage: 'TABLE_MESSAGE.EMPTY' | translate,
        selectedMessage: 'TABLE_MESSAGE.SELECTED' | translate,
        totalMessage: 'TABLE_MESSAGE.TOTAL' | translate
      }"
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="55"
      [footerHeight]="55"
      rowHeight="auto"
      [limit]="10"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
    >
      <ngx-datatable-column
        [name]="'USERS.LIST.TABLE.EMAIL' | translate"
        prop="email"
        [flexGrow]="2"
      >
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div class="list-cell-title-stack">
            <span class="list-cell-title-stack__title">{{ value }}</span>
            <span class="list-cell-title-stack__sub">{{ row.firstName }} {{ row.lastName }}</span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'USERS.LIST.TABLE.DIRECTION' | translate"
        prop="direction"
        [width]="140"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="list-cell-date">{{ value || "-" }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'USERS.LIST.TABLE.ACTION' | translate"
        [sortable]="false"
        [width]="180"
        cellClass="list-actions-cell"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="list-actions">
            <button
              *hasClaim="'USER_EDIT_USER'"
              class="list-btn-action list-btn-action--edit"
              (click)="editUser(row.id); $event.stopPropagation()"
              [title]="'USERS.LIST.BUTTONS.EDIT' | translate"
              [attr.aria-label]="'USERS.LIST.BUTTONS.EDIT' | translate"
            >
              <i class="feather icon-edit-2"></i>
            </button>
            <button
              *hasClaim="'USER_RESET_PASSWORD'"
              class="list-btn-action list-btn-action--view"
              (click)="resetPassword(row); $event.stopPropagation()"
              [title]="'USERS.LIST.BUTTONS.RESETPASSWORD' | translate"
              [attr.aria-label]="'USERS.LIST.BUTTONS.RESETPASSWORD' | translate"
            >
              <i class="feather icon-lock"></i>
            </button>
            <button
              *hasClaim="'USER_DELETE_USER'"
              class="list-btn-action list-btn-action--delete"
              (click)="deleteUser(row); $event.stopPropagation()"
              [title]="'USERS.LIST.BUTTONS.DELETE' | translate"
              [attr.aria-label]="'USERS.LIST.BUTTONS.DELETE' | translate"
            >
              <i class="feather icon-trash-2"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
