<div class="card">
  <div class="card-body">
    <div class="row mb-3 justify-content-end">
      <div class="col-auto">
        <button class="btn btn-primary mb-3" routerLink="/setting/add">
          <i class="feather icon-plus"></i>
          <span>{{'SMTPS.LIST.BUTTONS.ADD' | translate}}</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ngx-datatable [messages]="{emptyMessage:'TABLE_MESSAGE.EMPTY' | translate,selectedMessage:'TABLE_MESSAGE.SELECTED' | translate,totalMessage:'TABLE_MESSAGE.TOTAL' | translate}" [rows]="emailSMTPSettings" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5"  >
          <ngx-datatable-column [name]="'SMTPS.LIST.TABLE.USERNAME' | translate" prop="userName"></ngx-datatable-column>
          <ngx-datatable-column [name]="'SMTPS.LIST.TABLE.HOST' | translate" prop="host"></ngx-datatable-column>
          <ngx-datatable-column [name]="'SMTPS.LIST.TABLE.PORT' | translate" prop="port"></ngx-datatable-column>
          <ngx-datatable-column [name]="'SMTPS.LIST.TABLE.IS_DEFAULT' | translate" prop="isDefault"></ngx-datatable-column>
          <ngx-datatable-column [name]="'SMTPS.LIST.TABLE.ACTIONS' | translate" [sortable]="false" aria-hidden="false" cellClass="overflow-visible">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value" aria-hidden="false">
              <div class="btn-group" dropdown [insideClick]="true">
                <button dropdownToggle type="button" class="btn"> <i class="feather icon-more-horizontal"></i> </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a class="dropdown-item" [routerLink]="'/setting/edit/'+row.id"><i class="feather icon-edit-2"></i> {{'SMTPS.LIST.BUTTONS.EDIT' | translate}}</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="deleteEmailSMTPSetting(row)"><i class="feather icon-trash-2"></i> {{'SMTPS.LIST.BUTTONS.DELETE' | translate}}</a></li>
                </ul>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
