<div class="bento-main-container">
  <!-- Header Section -->
  <div class="header-section">
    <div class="header-actions">
      <div class="header-content">
        <h1 class="page-title">{{'ROLES.LIST.TITLE' | translate}}</h1>
        <p class="page-description">{{'ROLES.LIST.DESCRIPTION' | translate}}</p>
      </div>
      <button *hasClaim="'ROLE_CREATE_ROLE'" routerLink="/user/role-add" class="btn-create">
        <i class="feather icon-plus"></i>
        <span>{{'ROLES.LIST.BUTTONS.ADD' | translate}}</span>
      </button>
    </div>
  </div>

  <!-- Table Section -->
  <div class="bento-item table-section">
    <div class="modern-table-wrapper">
      <ngx-datatable 
        class="modern-table"
        [messages]="{emptyMessage:'TABLE_MESSAGE.EMPTY' | translate,selectedMessage:'TABLE_MESSAGE.SELECTED' | translate,totalMessage:'TABLE_MESSAGE.TOTAL' | translate}" 
        [rows]="rows" 
        [columnMode]="ColumnMode.force" 
        [headerHeight]="60" 
        [footerHeight]="60"
        rowHeight="auto" 
        [limit]="10" 
        [selected]="selected" 
        [selectionType]="SelectionType.checkbox"
        (activate)="onActivate($event)" 
        (select)="onSelect($event)">

        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-header-template let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
            <div class="custom-checkbox">
              <input type="checkbox" [id]="'selectAll'" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
              <label [for]="'selectAll'"></label>
            </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-row="row" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <div class="custom-checkbox">
              <input type="checkbox" [id]="row.id" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
              <label [for]="row.id"></label>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'ROLES.LIST.TABLE.NAME' | translate" prop="name">
          <ng-template ngx-datatable-cell-template let-value="value">
            <span class="font-weight-bold text-dark">{{value}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'ROLES.LIST.TABLE.CREATED' | translate" prop="createdDate">
          <ng-template ngx-datatable-cell-template let-value="value">
            <span class="badge badge-soft-primary">{{value | utcToLocalTime:'shortDate'}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'ROLES.LIST.TABLE.UPDATED' | translate" prop="modifiedDate">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="badge badge-soft-secondary font-weight-medium">{{value | utcToLocalTime:'shortDate'}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'ROLES.LIST.TABLE.ACTIONS' | translate" [sortable]="false" cellClass="overflow-visible">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="btn-group" dropdown [insideClick]="true" container="body">
              <button dropdownToggle type="button" class="btn-action-trigger">
                <i class="feather icon-more-horizontal"></i>
              </button>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu-modern" role="menu">
                <button class="dropdown-item-modern" *hasClaim="'ROLE_EDIT_ROLE'" [routerLink]="'/user/role-edit/'+row.id">
                  <i class="feather icon-edit-2 text-info"></i> 
                  <span>{{'ROLES.LIST.BUTTONS.EDIT' | translate}}</span>
                </button>
                <div class="dropdown-divider-modern"></div>
                <button class="dropdown-item-modern text-danger" *hasClaim="'ROLE_DELETE_ROLE'" (click)="deleteRole(row)">
                  <i class="feather icon-trash-2"></i> 
                  <span>{{'ROLES.LIST.BUTTONS.DELETE' | translate}}</span>
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
