<div class="list-page-container">
  <header class="list-page-header">
    <div class="list-header-left">
      <h1 class="list-page-title">{{ "ARTICLES.LIST.TITLE" | translate }}</h1>
      <p class="list-page-desc">
        {{ "ARTICLES.LIST.DESCRIPTION" | translate }}
      </p>
    </div>
    <button
      *hasClaim="'ARTICLE_ADD_ARTICLE'"
      routerLink="/apps/articles/add"
      class="list-btn-add"
    >
      <span>{{ "ARTICLES.LIST.BUTTONS.ADD" | translate }}</span>
      <i class="feather icon-plus list-btn-add__icon"></i>
    </button>
  </header>

  <div class="list-filters">
    <div class="list-search-wrapper">
      <i class="feather icon-search list-search-icon"></i>
      <input
        type="text"
        class="list-search-input"
        (input)="onNameChange($event)"
        [placeholder]="'ARTICLES.LIST.TABLES.SEARCH_BY_NAME' | translate"
        [attr.aria-label]="'ARTICLES.LIST.TABLES.SEARCH_BY_NAME' | translate"
      />
    </div>
    <div class="list-category-wrapper">
      <ng-select
        class="list-select"
        [multiple]="false"
        [placeholder]="'ARTICLES.LIST.TABLES.SEARCH_BY_CATEGORY' | translate"
        [attr.aria-label]="'ARTICLES.LIST.TABLES.SEARCH_BY_CATEGORY' | translate"
        (change)="onCategoryChange($event)"
      >
        <ng-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </ng-option>
      </ng-select>
    </div>
    <div class="list-date-wrapper">
      <i class="feather icon-calendar list-date-icon"></i>
      <input
        type="text"
        class="list-date-input"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
        (bsValueChange)="onDateChange($event)"
        [placeholder]="'ARTICLES.LIST.TABLES.SEARCH_BY_DATE' | translate"
        [attr.aria-label]="'ARTICLES.LIST.TABLES.SEARCH_BY_DATE' | translate"
      />
    </div>
  </div>

  <div class="list-table-wrapper">
    <ngx-datatable
      class="list-table"
      [messages]="{
        emptyMessage: 'TABLE_MESSAGE.EMPTY' | translate,
        selectedMessage: 'TABLE_MESSAGE.SELECTED' | translate,
        totalMessage: 'TABLE_MESSAGE.TOTAL' | translate
      }"
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="55"
      [footerHeight]="55"
      rowHeight="auto"
      [limit]="10"
    >
      <ngx-datatable-column
        [name]="'ARTICLES.LIST.TABLES.PICTURE' | translate"
        prop="picture"
        [width]="80"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <div class="list-cell-thumb">
            <img
              [src]="
                value ? getHost() + value : '/assets/images/others/bg-4.jpg'
              "
              class="list-thumb-img"
              alt="Article Thumbnail"
            />
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'ARTICLES.LIST.TABLES.TITLE' | translate"
        prop="title"
        [flexGrow]="2"
      >
        <ng-template
          let-row="row"
          ngx-datatable-cell-template
          let-value="value"
        >
          <div class="list-cell-title-stack">
            <span class="list-cell-title-stack__title">{{ value }}</span>
            <span class="list-cell-title-stack__sub">{{
              row.category?.name
            }}</span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'ARTICLES.LIST.TABLES.CREATED_BY' | translate"
        prop="creator"
        [width]="180"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <div class="list-cell-creator-icon">
            <span class="list-creator-icon-circle">
              <i class="feather icon-user"></i>
            </span>
            <span class="list-cell-creator">
              {{ value.firstName }} {{ value.lastName }}
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'ARTICLES.LIST.TABLES.REPLIES' | translate"
        [width]="100"
        prop="commentsCount"
      >
        <ng-template
          ngx-datatable-cell-template
          let-value="value"
          let-row="row"
        >
          <button
            *hasClaim="'ARTICLE_VIEW_COMMENTS'"
            type="button"
            class="list-btn-action--comments"
            (click)="openCommentsModal(row)"
            [attr.aria-label]="
              ('ARTICLES.LIST.TABLES.REPLIES' | translate) + ': ' + (value || 0)
            "
          >
            <i class="feather icon-message-circle"></i>
            <span>{{ value || 0 }}</span>
          </button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'ARTICLES.LIST.TABLES.CREATED_AT' | translate"
        prop="createdAt"
        [width]="120"
      >
        <ng-template ngx-datatable-cell-template let-value="value">
          <span class="list-cell-date">{{
            value | utcToLocalTime: "shortDate"
          }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'ARTICLES.LIST.TABLES.PRIVACY' | translate"
        prop="privacy"
        [width]="110"
      >
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span
            class="list-cell-badge"
            [ngClass]="{
              'list-cell-badge--green': value === 'public',
              'list-cell-badge--yellow': value === 'private'
            }"
          >
            {{
              (value === "public"
                ? "ARTICLES.LIST.PRIVACY.PUBLIC"
                : "ARTICLES.LIST.PRIVACY.PRIVATE"
              ) | translate
            }}
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="'ARTICLES.LIST.TABLES.ACTIONS' | translate"
        [sortable]="false"
        [width]="160"
        cellClass="list-actions-cell"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="list-actions">
            <button
              *hasClaim="'ARTICLE_VIEW_ARTICLES'"
              class="list-btn-action list-btn-action--view"
              (click)="viewArticle(row)"
              [title]="'ARTICLES.LIST.BUTTONS.VIEW' | translate"
              [attr.aria-label]="'ARTICLES.LIST.BUTTONS.VIEW' | translate"
            >
              <i class="feather icon-eye"></i>
            </button>
            <button
              *hasClaim="'ARTICLE_VIEW_COMMENTS'"
              class="list-btn-action list-btn-action--comments"
              (click)="openCommentsModal(row)"
              [title]="'ARTICLES.LIST.BUTTONS.COMMENTS' | translate"
              [attr.aria-label]="'ARTICLES.LIST.BUTTONS.COMMENTS' | translate"
            >
              <i class="feather icon-message-square"></i>
            </button>
            <ng-container *ngIf="row.createdBy === currentUser.id">
              <button
                *hasClaim="'ARTICLE_EDIT_ARTICLE'"
                class="list-btn-action list-btn-action--edit"
                [routerLink]="'/apps/articles/edit/' + row.id"
                [title]="'ARTICLES.LIST.BUTTONS.EDIT' | translate"
                [attr.aria-label]="'ARTICLES.LIST.BUTTONS.EDIT' | translate"
              >
                <i class="feather icon-edit-2"></i>
              </button>
            </ng-container>
            <ng-container *ngIf="row.createdBy === currentUser.id">
              <button
                *hasClaim="'ARTICLE_DELETE_ARTICLE'"
                class="list-btn-action list-btn-action--delete"
                (click)="deleteArticle(row)"
                [title]="'ARTICLES.LIST.BUTTONS.DELETE' | translate"
                [attr.aria-label]="'ARTICLES.LIST.BUTTONS.DELETE' | translate"
              >
                <i class="feather icon-trash-2"></i>
              </button>
            </ng-container>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
