<div class="card mb-0">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-5">
            <label class="form-label">{{'USERROLE.SELECT_ROLE' | translate}}</label>
            <ng-select  name="selectedRole" [(ngModel)]="selectedRoleId" (change)="onRoleChange($event)">
              <ng-option *ngFor="let role of roles" [value]="role.id">
                {{role.name}}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-sm-12">
            <span class="font-weight-bold text-danger">
              {{'IN_ORDER_TO_ADD_USER_TO_ROLE_PLEASE_DRAG_IT_FROM_ALL_USERS_TO_ROLE_USERS'}}
            </span>
          </div>
        </div> -->
        <div class="row mt-2" *ngIf="selectedRole">
          <div class="col-sm-5">
            <h6 class="text-primary">{{'USERROLE.ALL_USERS' | translate}}</h6>
            <div cdkDropList #doneList="cdkDropList" [cdkDropListLockAxis]="'x' || 'y'" [cdkDropListData]="otherUsers"
              [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="removeUser($event)">
              <div class="example-box1" *ngFor="let item of otherUsers" cdkDrag>
                <span>{{item.firstName}} {{item.lastName}} ({{item.userName}}) </span>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <h6 class="text-primary">{{'USERROLE.ROLES_USERS' | translate}}</h6>
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="roleUsers" [cdkDropListConnectedTo]="[doneList]"
              class="example-list" (cdkDropListDropped)="addUser($event)">
              <div class="example-box1" *ngFor="let item of roleUsers" cdkDrag>
                <span>{{item.firstName}} {{item.lastName}} ({{item.userName}})</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
