<div class="card">
  <div class="card-body">
    <form [formGroup]="articleForm">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <label class="form-label" for="articleName">{{'ARTICLES.ADD.LABEL.TITLE' | translate}}</label>
              <input formControlName="title" class="form-control" id="articleName">
              <div *ngIf="articleForm.get('title').touched && articleForm.get('title')?.errors">
                <div class="text-danger" *ngIf="articleForm.get('title').errors?.['required']">
                  {{'ARTICLES.ADD.ERRORS.TITLE_IS_REQUIRED' | translate}}
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="form-label" for="articleCategory">{{'ARTICLES.ADD.LABEL.CATEGORY' | translate}}</label>
              <ng-select formControlName="category" [multiple]="false" id="articleCategory">
                <ng-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</ng-option>
              </ng-select>
              <div *ngIf="articleForm.get('category').touched && articleForm.get('category')?.errors">
                <div class="text-danger" *ngIf="articleForm.get('category').errors?.['required']">
                  {{'ARTICLES.ADD.ERRORS.CATEGORY_IS_REQUIRED' | translate}}
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="form-label" for="articleShortDescription">{{'ARTICLES.ADD.LABEL.DESCRIPTION' | translate}}</label>
              <textarea formControlName="description" type="text" class="form-control"
                id="articleShortDescription"></textarea>
              <div *ngIf="articleForm.get('description').touched && articleForm.get('description')?.errors">
                <div class="text-danger" *ngIf="articleForm.get('description').errors?.['required']">
                  {{'ARTICLES.ADD.ERRORS.DESCRIPTION_IS_REQUIRED' | translate}}
                </div>
              </div>
            </div>
            <div class="col-md-12" style="min-height: 50px; height: fit-content;">
              <label class="form-label" for="articleBody">{{'ARTICLES.ADD.LABEL.BODY' | translate}}</label>

              <!-- <div formControlName="body" style="height: 400px;" id="editor-container"></div> -->

              <!-- <quill-editor style="height: 400px;" formControlName="body" id="articleBody"></quill-editor> -->
              <quill-editor formControlName="body" id="articleBody"></quill-editor>


              <div *ngIf="articleForm.get('body').touched && articleForm.get('body')?.errors">
                <div class="text-danger" *ngIf="articleForm.get('body').errors?.['required']">
                  {{'ARTICLES.ADD.ERRORS.BODY_IS_REQUIRED' | translate}}
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <label class="form-label" for="articlePrivacy">{{'ARTICLES.ADD.LABEL.PRIVATE' | translate}}</label>
              <switch formControlName="private" style="margin-left: 5px;" id="articlePrivacy" [inline]="true">
              </switch>
            </div>
            <div *ngIf="articleForm.get('private').value" class="col-md-12">
              <label class="form-label" for="articleUsers">{{'ARTICLES.ADD.LABEL.USERS' | translate}}</label>
              <ng-select formControlName="users" [multiple]="true" id="articleUsers">
                <ng-option *ngFor="let user of users" [value]="user.id">{{user.firstName}} {{user.lastName}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="mb-2" for="">{{'ARTICLES.ADD.LABEL.PICTURE' | translate}}</label>
          <div class="rounded overflow-hidden">
            <input hidden (change)="onFileSelect($event)" #fileInput name="logo" type="file" name="Profile Photo"
              fxFlex="30">
            <img *ngIf="picture && !newPicture" style="width: 100%;" class="full-width company-logo" [src]="picture" />
            <img *ngIf="!picture || picture && newPicture" style="width: 100%;" class="full-width company-logo"
              [src]="newPicture?newPicture:'/assets/images/others/bg-4.jpg'" />
            <div *ngIf="articleForm.get('picture').touched && articleForm.get('picture')?.errors">
              <div class="text-danger" *ngIf="articleForm.get('picture').errors?.['required']">
                {{'ARTICLES.ADD.ERRORS.PICTURE_IS_REQUIRED' | translate}}
              </div>
            </div>
            <div class="mt-2">
              <button type="button" class="btn btn-success btn-sm mb-2" (click)="fileInput.click()">
                <i class="far fa-image"></i> {{'ARTICLES.ADD.LABEL.CHANGE_PICTURE' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-2">
        <button (click)="saveArticle()" style="margin-right: 10px;" type="submit"
          class="btn btn-success btn-sm m-r-10"><i class="fas fa-save"></i>{{'ARTICLES.ADD.BUTTONS.SAVE' | translate}}</button>
        <button type="button" class="btn btn-danger btn-sm" routerLink="/apps/news"> <i
            class="fas fa-times-circle"></i>{{'ARTICLES.ADD.BUTTONS.CANCEL' | translate}}</button>
      </div>
    </form>
  </div>
</div>
