<div class="language-selector">
  <button
    type="button"
    class="trigger-btn"
    (click)="toggleMenu()"
    [attr.aria-expanded]="isMenuOpen"
    aria-haspopup="listbox"
  >
    <i class="feather icon-globe"></i>
    <span class="lang-code">{{
      currentLang?.split("_")[0] || currentLang
    }}</span>
  </button>

  <div class="language-menu" [class.is-open]="isMenuOpen" role="listbox">
    <button
      *ngFor="let language of languageList"
      type="button"
      class="menu-item"
      [class.active]="currentLang === language.key"
      (click)="setLanguage(language.key)"
      role="option"
      [attr.aria-selected]="currentLang === language.key"
    >
      <span class="lang-name">
        {{ "LANG." + language.key.split("_")[0].toUpperCase() | translate }}
      </span>
      <span class="active-indicator"></span>
    </button>
  </div>
</div>
